* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clr {
  clear: both;
}
.clear {
  clear: both;
}
/* Nav Bar Start */

/* body {
  height: 300vh;
} */

header {
  background: #52c234; /* fallback for old browsers */

  background: linear-gradient(
    to right,
    #12370f,
    #1f5f1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70;
  z-index: 50000;
}

.navBar {
  width: 80%;
  margin: auto;
}
.navBar ul {
  list-style-type: none;
}

.navImg {
  width: 140;
  float: left;
  padding: 10px 0 0 0;
  height: 80px;
}
.navImg img {
  width: 100%;
}

.navList {
  float: right;
}
.navList li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.navList a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 20;
}
.navList a:hover {
  color: #cbb26a;
}
/* Nav Bar End */

/* Start Of Body */

/* Drop menu and Welcome */
.center3 {
  width: 95%;
  margin: auto;
}
.container {
  text-align: center;
  margin-top: 100px;
}
.width40 {
  width: 40%;
  margin: auto;
  padding: 10;
}

.introduction h1 {
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: #cbb26a;
}

.accountPicker {
  position: relative;
}

.width30 {
  width: 30%;
  margin: 20 auto;
  padding: 10;
}
.skew {
  width: 100%;
  background-color: #ededed;
  transform: skew(-30deg);
  height: 60px;
}

.Effect {
  transition: all 0.3s ease;
}
.accountPicker:hover .Effect {
  background-color: #cbb26a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.accountPicker:hover .dropDown {
  border-top: 30px solid #ededed;
}
.accInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 0;
}
.big{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    height: 0;
}
.accInner button {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  text-align: left;
  margin-top: 10;
  padding-left: 25;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.accInner button:hover {
  cursor: pointer;
}
.accType a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
}
.accType p {
  padding-top: 10;
}
.repSkiw {
    width: 300%;
    height: 0%;
    background-color: #ededed;
    transform: skew(-30deg);

    position: relative;
    right: 500;
  }

.dropDown {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #cbb26a;
  position: absolute;
  right: 70;
  top: 30
  transition: all 0.3s ease;
  z-index: -1;
}
.DropMenu {
  position: relative;
  top: calc(100% + 0.25 rem);
  width: 90%;
  margin: 5 0 5 20;
  border: 2px solid #cbb26a;
  background-color: #ededed;

  border-radius: 0.25rem;
  box-shadow: 0 2px 20px 0 rgb(0, 0, 0, 0.1);
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 150ms ease-in-out;
  font-family: "Roboto Serif";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.accType {
  background-color: #ededed;
  height: 39px;
  padding: 0;
}
.accType:hover {
  background-color: #cbb26a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.accInner.active > .link + .DropMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Drop menu and Welcome END */

/* Acount Details Start */
.LoanDetails{
  width: 800;
  margin: 0 auto 30;
  height: 600;
  background-color: #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #cbb26a;
  border-radius: 50px;
}
.loanInfo {
    float: left;
    padding: 20 50 0;
    width: 70%;
  }
.AccountDetails {
  width: 90%;
  margin: 0 auto 30;

  background-color: #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #cbb26a;
  border-radius: 50px;
}


.img {
  width: 27%;
  float: left;
}
.img img {
  width: 100%;
}
.allInfo {
  float: left;
  padding: 20 50 0;
  width: 70%;
}
.infoPartition {
  float: left;
  padding: 30;
  width: 25%;
}
.infoPartition h4 {
  font-family: "Roboto Serif";
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #cbb26a;
  padding: 10;
}

.YourLoans {
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #cbb26a;
    position: relative;
    text-align: left;
    right: 400;
    padding: 35;
}
.LoanInfo{
  float: left;
  padding: 30;
  width: 25%;
  text-align: center;
  padding: auto;
  position: relative;
  left: 230;
}
.LoanInfo h4{
  font-family: "Roboto Serif";
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #cbb26a;
  text-align: center;
  padding: auto;
}

/* Acount Details END */

/* Possible Actions Start */
.PossibleActions {
  width: 90%;
  margin: 20 auto;
}
.doable {
  background-color: #ededed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #cbb26a;
  border-radius: 35px;
  float: left;
  width: 14.2%;
  height: 150px;
  margin: 40 20 60 20;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.doable a {
  text-decoration: none;
  color: black;
}
.innerIcon {
  width: 40%;
  margin: auto;
}
.doable img {
  width: 100%;
  padding: 15px;
}
.innerContainer {
  margin-top: 10px;
}
.doable p {
  font-family: "Roboto Serif";
  font-style: normal;
  font-size: 15px;
}
.doableContainer {
  width: 100%;
  margin: 0 0 0 0;
}

.doable:hover {
  transform: translate(15px, 15px);
}

/* Possible Actions END */

/* Body End */

/* Footer Start */
/* Final Part of the website */
.iconlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.final {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;

  color: #ffffff;
  width: 100%;
}

.finalTop {
  background-color: #12370f;
  background: linear-gradient(to right, #12370f, #1f5f1a);
  margin: auto;
  width: 100%;

  padding: 30 0 5 0;
}

.center {
  margin: auto;
  width: 70%;
}

.row {
  width: 22%;
  float: left;
  margin: 10 15;
}

.row h4 {
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 10px;
}

.row p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 35;
  padding-left: 10px;
  color: #ffffffa5;
  line-height: 31px;
}

.icons2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  padding: 5px;
  margin-bottom: 5;
}

.icons2 img {
  margin-top: 6;
  width: 16px;
  vertical-align: middle;
}

.icons2 p {
  padding-left: 0px;
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  margin: 0;
}

.lastEl {
  border-bottom: none;
}

.icons3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 10 0;
  margin-bottom: 5;
}

.icons3 img {
  height: 32px;
  width: 32px;

  vertical-align: middle;
}

.icons3 p {
  padding-left: 0px;
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  margin: 0;
}
.icons2 a {
  color: #ffffffa5;
}

.icons2 a:hover {
  color: #cbb26a;
}
/* Final bottom */

.center2 {
  margin: auto;
  width: 60%;
}

.center2 img {
  margin-bottom: 30;
  width: 200;
}

.center2 p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10;
  padding-left: 10px;
  color: #969696;
  line-height: 31px;
}

.FinalBottom {
  padding: 0 0 15 0;
  text-align: center;
  background-color: #050f08;
  margin: auto;
  width: 100%;
  background: linear-gradient(to right, #12370f, #1f5f1a);
}

.exter_logos img {
  width: 26px;
  margin: 0 2.5;
  background-color: rgb(72, 69, 64);
  border-radius: 50%;
}
.roboto {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
}
/* Footer end */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roberto Serif',Arial, Helvetica, sans-serif;
    font-size:16px;
  }
  .Registerbody {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(
        to right,
        #12370f,
        #1f5f1a
      );
    
  }
  .req{
    color: rgb(156, 0, 0);
  }
  .formbold-mb-3 {
    margin-bottom: 15px;
  }
  .formbold-relative {
    position: relative;
  }
  .formbold-opacity-0 {
    opacity: 0;
  }
  .formbold-stroke-current {
    stroke: currentColor;
  }
  #supportCheckbox:checked ~ div span {
    opacity:   1;
    background-color: #cbb26a;
    width: 20px;
    height: 20px;
    
    
    
  }

  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px
    
  }
  .apply-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 670px;
    width: 100%;
    height: 100%;
    background: white;
    margin-top: -40px;
    padding: 40px;
    border-radius: 15%;
    border-style: solid;
    border-color: #cbb26a;
  }
  .apply-form-wrapper {
    margin: 0 auto;
    max-width: 670px;
    min-height: 500px;
    width: 100%;
    height: 100%;
    background: #ededed;
    margin-top: -40px;
    padding: 40px;
    border-radius: 15%;
    border-style: solid;
    border-color: #cbb26a;
  }

  .formbold-img {
    margin-bottom: 45px;
  }

  .formbold-form-title {
    margin-bottom: 30px;
    align-items: center;
  }
  .formbold-form-title h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #050f04;
    position: relative;
    left: 240px;
    
  }
  .formbold-form-title p {
    font-size: 16px;
    line-height: 24px;
    color: #050f04;
    margin-top: 12px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 50%;
    
  }
  .apply-input-flex {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }
  .apply-input-flex > div {
    width: 50%;
    height: 10%;
    
  }
  .formbold-form-input {
    text-align: left;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #cbb26a;
    background: #ededed;
    font-weight: 500;
    font-size: 16px;
    color: #050f04;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #cbb26a;
    box-shadow: 0px 3px 8px #cbb26a;
  }
  .apply-input {
    text-align: left;
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #cbb26a;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #050f04;
    outline: none;
    resize: none;
  }
  textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
  .report-input {
    text-align:left;
    width: 100%;
    height: 100px;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #cbb26a;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #050f04;
    outline: none;
    resize: none;
  }
  .apply-input:focus {
    border-color: #cbb26a;
    box-shadow: 0px 3px 8px #cbb26a;
  }
  .formbold-form-label {
    color: #050f04;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
    content: " *";
  }
  .loanlabel{
    color: #cbb26a;
    font-size: 25px;
    line-height: 24px;
    display: block;
    padding: 15;
    margin-bottom: 10px;
    text-align: center;
  }
  .loan-flex {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
  }


  .formbold-checkbox-label {
    display: flex;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: #050f04;
  }
  .formbold-checkbox-label a {
    margin-left: 5px;
    color: #cbb26a;
    cursor: pointer;
  }
  .formbold-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    color: #cbb26a;
    
  }
  .formbold-checkbox-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 2px;
    border: 0.7px solid #cbb26a;
    border-radius: 3px;
    
  }
  #result{
    color: red;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: 200;
  }

  .formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #ededed;
    cursor: pointer;
    margin-top: 25px;
    position: relative;
    color: #12370f;
    left: 240px;
    border-color: #cbb26a;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px #cbb26a;
  }
  .box {
    position: relative;
    align-items: center;
    left: 10;
    
    
    
  }
  .pos{
    position: relative;
    align-items: center;
    left: 40;
  }

  
  .box select {
    background-color: #cbb26a;
    color: #050f04;
    padding: 12px;
    width: 250px;
    border: none;
    font-size:small;
    box-shadow: 0 5px 25px #cbb26a;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    position: relative;
    right: 20px;
  }
  
  
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

.intrest{
    color: #050f04;
    font-size: 28px;
    line-height: 5px;
    display: block;
    padding: 15;
    margin-bottom: 10px;
    text-align: center;
    visibility: hidden;
}

.buttoncalc {
  appearance: button;
  backface-visibility: hidden;
  background-color: #cbb26a;
  border-radius: 6px;
  border-width: 0;
  box-shadow:#cbb26a;
  box-sizing: border-box;
  color: #050f04;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.buttoncalc:disabled {
  cursor: default;
}

.buttoncalc:focus {
  box-shadow:#cbb26a
}